{% load staticfiles %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <title>Title</title>
  </head>
  <body>
    <div class="container-fluid">
      <img src="{% static 'submit/mandalo.png' %}">
    </div>
    <div class="container">
      <div class="row">
        <div class="col" style="background-color: green;">
        <p>intro text</p>
        </div>
      </div>
      <div class="row">
        <div class="col" style="background-color:red;">
          <p>button1</p>
        </div>
        <div class="col" style="background-color:blue;">
          <p>button2</p>
        </div>
    </div>
  </div>
  </body>
</html>
