{% load staticfiles %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet"  type="text/css" href="{% static 'submit/landing.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <title>Mandalo</title>
  </head>

  <body>
  <!--Row 1: Header-->
    <div class="container-fluid remove-padding">
      <div id="heading" class="row center">
        <img src="{% static 'submit/mandalo.png' %}">
      </div>
    </div>

  <!-- page-specific content goes here -->
  {% block content %}
  <!--Row 2: Welcome/Bio -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 margin col-xs-2">
          <p></p>
        </div>
        <div id="welcome" class="col-md-8 col-xs-8">
        <h1><p class="center">Welcome!</p></h1>
        <p class="center">Welcome to Mandala Program Submission System! This web application is designed to be an
        easy way for teaching assistants to grade student homework assignments without having to download, set up, and run
       each assignment individually and can instead run them all within a web app.</p>

       <p class="center">Technical description of the program.</p>
        </div>
        <div  class="col-md-2 margin col-xs-2">
          <p></p>
        </div>
      </div>

  <!--Row 3: Buttons -->
    <div class="row">
        <div class="col-md-1 margin col-xs-1">
          <p></p>
        </div>
        <div id="newAssign" class="col-md-4 col-xs-10">
            <button type="button" class="btn btn-primary btn-lg center fill">Submit New</button>
        </div>
        <div class="col-md-2 margin">
          <p></p>
        </div>
        <div id="submissions" class="col-md-4 col-xs-10">
          <button type="button" class="btn btn-primary btn-lg center fill">Previous Assignments</button>
        </div>
        <div class="col-md-1 margin">
          <p></p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  <!-- end page-specific content -->

  <!-- Row 4: Footer -->
  <div class="container-fluid remove-margins remove-padding">
    <div id="footer" class="row remove-margins centered">
      <p>
      <ul class="center-ul">
         <li><a href="https://www.linkedin.com/in/m-delcambre" target="_blank">M. Delcambre</a></li>
         <li><a href="https://www.linkedin.com/in/akgunter" target="_blank">A. Gunter</a></li>
         <li><a href="https://www.linkedin.com/in/clairehubacek" target="_blank">C. Hubacek</a></li>
         <li><a href="https://www.linkedin.com/in/armandosrz">A. Suarez</a></li>
      </ul>
    </p>
    </div>
  </div>

  </body>
</html>
