{% extends "submit/landing.html" %}

{% block content %}


<div class="container">
<table class="table">
  <h2>Available Assignments</h2>
  <p>Here is a list of available assignments</p>
  <thead>
  <tr>
    <th>Assigment</th>
    <th>Language</th>
    <th>Due Date</th>
  </tr>
  </thead>
  <tbody>
  {% for a in assign_list %}
  <tr>
    <td><p>{{ a.name }}</p></td>
    <td><p>{{ a.language }}</p></td>
    <td><p>{{ a.due_date }}</p></td>
  </tr>
  {% endfor %}
  </tbody>

  </table>
</div>
{% endblock %}
