@import url('https://fonts.googleapis.com/css?family=Dosis');

/* Red - #C8102E, Navy - #13294B */
div #heading{
  border-bottom: 5px solid #13294B;
  margin: 0;
  width: 100%;
}

div #heading img{
  margin: 1%;
  margin-left: 2%;
}

div #welcome{
}

div #newAssign{
}

div #submissions{

}

div #footer{
  position: fixed;
  height: 60px;
  bottom: 0;
  width: 100%;
  background-color:#13294B;
  width: 100%;
}

div#footer ul li {
  float: left;
  margin: .8em 2em 0 2em;
}

div#footer ul li a {
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  color: white;
  display: block;
  padding: 0 -.1em 1em .3em;
}



.remove-padding {
  padding: 0;
}

.remove-margins {
  margin: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center-ul {
  margin-left: 25%;
  margin-right: 25%;
}

.margin{
}

.fill {
  width: 100%;
}

.labelMargin{
  margin: 1em 1em 1em 0;
}

.navbar.navbar-fixed-bottom{
}

p {
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-family: 'Dosis Bold', sans-sef;
}

#myTabs {
   position: relative;
}
.tab-pane{
   position: relative;
   top: 42px;
   bottom: 0;
   right: 0;
   left: 0;
   height:800px;
   overflow-y:auto;
   width:100%;
}
